body {
    font-family: 'Inclusive Sans', sans-serif;
    font-display: swap;

    background: #647784;

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('images/peaks.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin:0;

    text-align: center;
}

hr {
    color: white;
}

a {
    color: #99ccff;
}

#main_content {
    height: 97vh;
    width: 100vw;
    margin-top: 0px;
    text-align: center;
    
    display: flex;
    justify-content: center; /* Aligns items horizontally centered */
    align-items: center;     /* Aligns items vertically centered */
}

#main_content_divception {
    width: 100vw;
    
    display: flex;
    justify-content: center; /* Aligns items horizontally centered */
    align-items: center;     /* Aligns items vertically centered */
}

/* General Schedule Styling */
.schedule_div {    
    color: white;
    background: RGBA(0, 0, 0, 0.5);

    border: 2px solid white;
    border-radius: 50px;
    width: 300px;
}

.schedule_table {
    border: 2px solid white;
    border-collapse: collapse;

    width: calc(100% - 100px);
    margin-left: 50px;
}

.schedule_table th, .schedule_table td {
    border: 2px solid white;
}

.table_period {
    font-size: 24px;
    width: 0px;
    padding: 10px;
}

.table_location {
    padding: 0px;
}

.table_location.table_top {
    font-size: 24px;
}

.table_subj {
    font-size: 20px;
    margin-bottom: -10px;
}

.table_subjNote {
    font-size: 16px;
}

/* Main Content Schedule */
#main_schedule_div {
    width: 600px;
    position: relative;
}

#block_toggle {
    position: absolute;
    right: 20px;
    top: 20px;

    width: 100px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: 'Inclusive Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

#block_toggle:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

#block_toggle:active {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

#d0_date {
    font-size: 30px;
    color: white;
    margin-bottom: -10px;
}

#d0_day {
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}

#d0_notes {
    font-size: 20px;
    margin-top: 50px;
}

/* Main Content Message Board */
#message_board_div {
    width: 500px;
    align-self: stretch; /* Stretch to fill the height of the parent */
    margin-left: 100px;
    text-align: left;
    color: white;

    position: relative;
}

#message_board_title {
    font-size: 33px;
}

#message_board_subtitle {
    font-size: 20px;
}

#message_board_footer_hr {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

#message_board_footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}